


<div class="row justify-content-between ml-3">
  <div class="col-sm-3 d-none d-md-block">
    <div class="card h-100 messages">

      <div class="card-body">
        <p class="card-text">Messages</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 d-none d-md-block">
    <div class="card h-100 orders">

      <div class="card-body">
        <p class="card-text">Orders</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 d-none d-md-block">
    <div class="card h-100 settings">

      <div class="card-body">
        <p class="card-text">Settings</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 d-none d-md-block">
    <div class="card h-100 revieweditems">

      <div class="card-body">
        <p class="card-text">Reviewed Items</p>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col">
    <hr>
  </div>
</div>
<div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
