.messages {
    border-left: 5px solid #82bd15;

}
.orders {
    border-left: 5px solid #daad86;

}
.settings {
    border-left: 5px solid #659dbd;

}
.revieweditems {
    border-left: 5px solid #bd5015;

}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-text {
    font-size: 1.5rem;
}
.card:hover {
    background-color: #daad86;
    color: #fbeec1!important;

    text-shadow: 2px 2px 4px #000000;
}
.card:active {
    

    box-shadow: none;

}