


<div class="row justify-content-between ml-3">
  <div class="col-sm-3 d-none d-md-block">
    <div class="card h-100 messages" (click)="setOption('messages')">

      <div class="card-body">
        <p class="card-text" >Messages</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 d-none d-md-block">
    <div class="card h-100 orders" (click)="setOption('orders')">

      <div class="card-body">
        <p class="card-text">Orders</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 d-none d-md-block">
    <div class="card h-100 settings" (click)="setOption('settings')">

      <div class="card-body">
        <p class="card-text">Settings</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 d-none d-md-block">
    <div class="card h-100 revieweditems" (click)="setOption('revieweditems')">

      <div class="card-body">
        <p class="card-text">Reviewed Items</p>
      </div>
    </div>
  </div>

</div>
<div class="row d-none d-md-block">
  <div class="col">
    <hr>
  </div>
</div>
<div class="row d-none d-md-block">
    <div class="col">
      <hr>
    </div>
  </div>
<div class="row">
  <div class="col">
    <app-messages *ngIf="option === 'messages'"></app-messages>
    <app-orders  *ngIf="option === 'orders'"></app-orders>
    <app-settings  *ngIf="option === 'settings'"></app-settings>
    <app-itemsreview  *ngIf="option === 'revieweditems'"></app-itemsreview>
  </div>
</div>