<div class="container">
  <h2>Latest Items</h2>
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide *ngFor="let item of itemList">
      <div class="card" >
        <img class="card-img-top" [src]="item.imgUrl" alt="Card image cap">
        <div class="card-body">
          
          <h5 class="card-title">{{item.Name}}</h5>
          <p class="card-text">{{item.Price | currency}}</p>
          <a href="#" class="btn">More Details</a>
        </div>
      </div>

    </ng-template>

  </ngb-carousel>
</div>
