<ngb-accordion #acc="ngbAccordion" [type]='type' class="" activeIds="ngb-panel-0">
    
    <ngb-panel title="Filter">
        
      <ng-template ngbPanelContent>
          <form class="form-row border mt-1" (submit)="setSearchString(keyword.value)" >
              <!-- col 1 -->
              <div class="col-md-auto mb-3">
                  <label class="" for="itemsperpage">Items Per Page:</label>
                  <select class="custom-select my-1 mr-sm-2" class="form-control" id="itemsperpage" #items
                    (change)=(setItemsPerPage(items.value))>
                    <option value=20 selected>20</option>
                    <option value=32>32</option>
                    <option value=40>40</option>
                    <option value=56>56</option>
                  </select>
              </div>
              
              <!-- col 2  -->
              <div class="col-md-3 mb-3">
                  <label class=""  for="sortby">Sort By: </label>
                  <select class="custom-select my-1 mr-sm-2" #sortorder class="form-control" id="sortby"
                  (change)=(setSortByQuery(sortorder.value))>
                    <option selected>Newest</option>
                    <option value="Reviews">Most Reviews</option>
                    <option value="Rating">Higher Rating</option>
                    <option value="Price: Low -> High">Price: Low -> High</option>
                    <option value="Price: High -> Low">Price: High -> Low</option>
                  </select>
        
              </div>
              
              <!-- col 3 -->
              <div class="form-group col-md-7 w-100 mb-3">
                  <label class="" for="searchinresults">Search in results</label>
                  <div class="row">
                      <div class="col-md-8">
                          <input type="text" #keyword id="searchinresults" class="form-control w-100 mb-3" required>
                          <small *ngIf="validSearch == false">
                              <ngb-alert fade [dismissible]="false" class="">
                                  <strong>Warning!</strong> Invalid Search String.
                                </ngb-alert>
                          </small>
                      </div>
                      <div class="col-md-4 justify-content-around">
                        
                              <button type="button" class="btn btn-primary" (click)="setSearchString(keyword.value)">Go</button>
                              <button type="button" class="btn btn-primary mx-2" (click)="resetFilter(keyword ,sortorder ,items )">Reset</button>
                           
                        
                      </div>
                  </div>
              </div>
             <!-- end of col 3 -->
        </form>
        
      </ng-template>
    </ngb-panel>
    </ngb-accordion>

