<div class="container">
    
      <div class="row mt-2" *ngIf="loadingResults">
        <div class="col">
            <p class="text-info">Loading PLease wait...</p>
            <p><ngb-progressbar [type]="progressBarColor" [value]="progressBarValue"></ngb-progressbar></p>
          </div>
      </div>
        
    
      <app-filter 
        (ItemsPerPage)="setItemsPerPage($event)"
        (SearchParams)="setSearchKey($event)"
        (SortBY)="setSortOrder($event)"
        (ResetFilter)="resetFilterList($event)"
      >
      </app-filter>
  
  


  <div class="row mt-3">
    
    <div class="col-lg-6 offset-lg-3 d-flex">
      <ngb-pagination class="mx-auto" [directionLinks]="false" [boundaryLinks]="false" [rotate]="true" [maxSize]=5
        [collectionSize]="totalItems" [pageSize]="ItemsPerPage" [(page)]="pageNumber" aria-label="Default pagination"
        [size]="paginationSize" (pageChange)="getPage()"></ngb-pagination>
    </div>
    
  </div>



<div class="row" *ngIf='sortedListOfItems'>

  <div class="col-md-3" *ngFor="let item of sortedListOfItems">

    <div class="card h-100">
      <img class="card-img-top" src="{{item.ImgUrl}}" alt="Card image cap">
      <div class="card-body h-100">
        <div class="row container-text">
          <div class="col-md-12 mx-auto">
            <img src="{{item.BrandImgUrl}}">
            <p>
              <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
              </ng-template>

              <ngb-rating [rate]="item.Rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
              <span class="reviews-quantity">
                <a routerLink="">{{item.ReviewsQty}}</a>
              </span>
            </p>
            <a  href={{item.Link}}>Click here</a>
            <ngb-tabset>
              <ngb-tab>
                <ng-template ngbTabTitle>Main</ng-template>
                <ng-template ngbTabContent>
                  <p class="card-text">{{item.Description}}</p>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>Features</ng-template>
                <ng-template ngbTabContent>
                  <ul>
                    <li *ngFor="let feature of item.FilteredFeatures">{{feature}}</li>
                  </ul>


                </ng-template>
              </ngb-tab>

            </ngb-tabset>

          </div>
        </div>
        <div class="row container-price mt-2">
          <div class="col-sm-12">
            <p class="card-text"><b>{{item.Price | currency}}</b></p>
          </div>
        </div>


      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-xs-12  mr-auto">
            <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i>Add to cart</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row mt-3">
    
    <div class="col-lg-6 offset-lg-3 d-flex">
      <ngb-pagination class="mx-auto" [directionLinks]="false" [boundaryLinks]="false" [rotate]="true" [maxSize]=5
        [collectionSize]="totalItems" [pageSize]="ItemsPerPage" [(page)]="pageNumber" aria-label="Default pagination"
        [size]="paginationSize" (pageChange)="getPage()"></ngb-pagination>
    </div>
  </div>
</div>
