@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
   
}


.nav-link:hover {
color: rgb(248, 233, 18) !important;

text-shadow: 2px 2px 4px #000000;

}
/* set the content class to take the whole screen 100vh - the two navbars 40px each */
.content {
    height: calc(100vh - 136px);
    overflow: auto;
    
}