<nav class="navbar navbar-expand-md navbar-dark m-0 p-0">

  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-target="#usersidenav" aria-controls="usersidenav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse align-items-start" id="usersidenav">
    <div class="card m-0 p-0 w-100">
      <img class="rounded-circle border border-primary mx-auto"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRb2gUvUVZlDxd4WGJ1q3nFM4kqg5nV8ZywIE5fb1cgweq53mx5lw"
        alt="Card image cap">
      <div class="card-body ">
        <h5 class="card-title">User Name</h5>
        <p class="card-text">Welcome Back!</p>
      </div>
      <div class="card-footer p-0  w-100 d-block d-sm-none">
        
          <ul class="navbar-nav flex-column mx-auto">
            <li class="nav-item">
              <a class="nav-link text-white active pl-1" (click)="setOption('messages')">Messages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white pl-1" (click)="setOption('orders')">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white pl-1" (click)="setOption('settings')">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white pl-1" (click)="setOption('revieweditems')">Reviewed Items</a>
            </li>
          
        </ul>

      </div>
    </div>



  </div>

</nav>

<!-- <ul class="navbar-nav flex-column  mx-auto">
    <li class="nav-item">
      <a class="nav-link text-white active" href="#">Messages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Reviewed Items</a>
    </li>
  </ul> -->
