.navbar {
    background-color: #daad86 !important;
   
}
.nav-link:hover {
    color: #fbeec1!important;

    text-shadow: 2px 2px 4px #000000;
    }

    button.btn {
        background-color: #fbeec1 !important;
        color: #0b405f;
       
    }
    button.btn:hover {
        background-color:#0b405f  !important;
        color:#fbeec1 ;
       
    }