<nav class="navbar navbar-expand-md navbar-dark navbar-fixed-top">
  <h4 class="text-white">{{pageName}}</h4>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="changeToolbarState()"
    data-target="#toolbar" aria-controls="toolbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="toolbar">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" *ngIf="pageName != 'Electronics'">
        <a class="nav-link text-white" routerLink="/electronics" routerLinkActive="active" (click)="changeToolbarState()">Electronics</a>
      </li>
      <li class="nav-item" *ngIf="pageName != 'Consoles'">
        <a class="nav-link text-white" routerLink="/consoles"  routerLinkActive="active" (click)="changeToolbarState()">Consoles</a>
      </li>
      <li class="nav-item" *ngIf="pageName != 'Games'">
        <a class="nav-link text-white" routerLink="/games" (click)="changeToolbarState()">Games</a>
      </li>
      <li class="nav-item" *ngIf="pageName != 'Computers'">
        <a class="nav-link text-white" routerLink="/computers" (click)="changeToolbarState()">Computers</a>
      </li>
      <li class="nav-item" *ngIf="pageName != 'Item'">
        <a class="nav-link text-white" routerLink="/item" (click)="changeToolbarState()">Item</a>

      </li>
      <li class="nav-item" *ngIf="pageName != 'Home'">
        <a class="nav-link text-white" routerLink="" (click)="changeToolbarState()">Home</a>

      </li>
    </ul>
    <ul class="navbar-nav ml-auto">

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn  my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </ul>
  </div>
</nav>
