.navbar {
    background-color: #daad86 !important;
   
}
.nav-link:hover {
    color: #fbeec1!important;

    text-shadow: 2px 2px 4px #000000;
    }

    button.btn {
        background-color: #fbeec1 !important;
        color: #0b405f;
       
    }
    button.btn:hover {
        background-color:#0b405f  !important;
        color:#fbeec1 ;
       
    }

    a > i  {
        margin-right: 5px;
        color: #fbeec1;
    }

    

    .dropdown-background {
        background-color: #daad86;
        /* width:300px !important */
        
    }
    .dropdown-menu {
        
        width: 250px !important;
    }
    .dropdown-item:hover {
        background-color: #daad86;
    }
    .menu-icon{
        margin-right:10px;
        height: 25px;
        width: 25px;
    }
    nav {
        width: 100%;
        margin:0px;
    }